<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyProject">
        <activity
            android:name=".MainA"
            android:exported="false" />
        <activity
            android:name=".SelfDevelopmentActivity"
            android:exported="false" />
        <activity
            android:name=".MotivationActivity"
            android:exported="false" />
        <activity
            android:name=".mental_health"
            android:exported="false" />
        <activity
            android:name=".HealthActivity"
            android:exported="false" />
        <activity
            android:name=".Main"
            android:exported="false" />
        <activity
            android:name=".PoliticsActivity"
            android:exported="false" />
        <activity
            android:name=".HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".GeographyActivity"
            android:exported="false" />
        <activity
            android:name=".CurrentAffairsActivity"
            android:exported="false" />
        <activity
            android:name=".YogaActivity"
            android:exported="false" />
        <activity
            android:name=".ContactActivity"
            android:exported="true" />
        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name=".NavigationHeaderManager" -->
        <!-- android:exported="true" /> -->
        <!-- <activity -->
        <!-- android:name=".DepthPageTransformer" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".ImageSliderAdapter" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>